.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
    align-items: center;
    width: 1576px;
    height: 900px;
}

.content {
    display: flex;
    align-items: center;
    gap: 48px;
    padding-left: 20px;

}

.list {
    width: 1464px;
    max-height: 480px;
    display: flex;
    justify-content: center;
    flex: 1; 
    margin: 0 10px; 
    flex-wrap: wrap;
    gap: 33px 7px;
    overflow-y: auto;

    &LastRow {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 7px;
        justify-content: center;        
    }

    &Item {
        transition: all 1s ease-in-out;
        cursor: pointer;
        width: 140px;
        height: 220px;
        border-radius: 6px;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 8px;

        & > img {
            width: 120px;
            height: 208px;
        }

        &:hover {
            background: #0943D9;
        }
    }
}

.trueFighters {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 48px;

    &Item {
        cursor: pointer;
    }
}